@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  }
:root{

  --main-color:#1b1b1b;
  --secondary-color:rgba(22, 24, 26, 1);
  --tertiary-color:#f5f6fa;

  --anotherColor:#00b894;
  --anotherColor2:  #045b94;
  --anotherColor3:  #1a7fc2;
  --anotherColor4: #122835 ;
  --anotherColor5:#d63031;

  --anotherColor6:#183241;

  --logo-font: 35px;
  --font-styles:"Titillium Web", sans-serif;
  --font-styles2:"Anton", sans-serif;

  --one-rem: 1rem;
  --second-rem: 1.2rem;
  --third-rem: 1.3rem;

  --btn-Animation: btnAni 0.5s ease-in-out ;
}
@keyframes btnAni {
  0%{
    
    transform: scale(1.2)
    
  }
  100%{
    transform: scale(1);
  }
}


@keyframes mainAni {

  0%{
    transform: translateX(3000px);
  }

  100%{
    transform: translateX(0);
  }
  
}

.mAinAni{

  animation: mainAni 0.8s ease-in-out;
  
  
}

.mAinAni2{

  animation: mainAni 0.8s ease-in-out 0.5s;

  
}
.mAinAni3{

  animation: mainAni 0.8s ease-in-out 0.8s;
    
  
}


body{

  font-family: var(--font-styles);
  background: linear-gradient(35deg, #183241, #131211);
  position: relative;
}
header{
  width: 100%;
  min-height: 100px;
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  z-index: 1000;
}
    
nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  border-bottom: 1px solid var(--tertiary-color);
  position: fixed;
  top: 0;
  z-index: 1000;
  background: linear-gradient(35deg, #183241, #131211);


}
.nav-icon a{

  text-decoration: none;
  font-weight:500;
  font-size: var(--logo-font);
  font-family: var(--font-styles2);

  color: var(--anotherColor5);
}
nav .search-icon{


  display: none;

}
.highlight{

  color: var(--anotherColor);
  font-family: var(--font-styles2);
  font-size: var(--logo-font);

}

.nav-icon, .nav-btns{

  margin: 0 25px;

}
 .nav-btns{

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;

}
.nav-btns .search-icon{

  color: #00b894;
  cursor: pointer;
  font-size: 1.1rem;
  display: block;
}
.nav-btns i:hover{

  opacity: 0.5;

}
.nav-list{

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  margin-top: 20px;

}

.nav-list li, .nav-btns li{

  list-style: none;

}
.nav-list a, .nav-btns a{

  text-decoration: none;
  color: var(--tertiary-color);
  user-select: none;
  font-weight: 600;
}

.nav-hamburger {

  display: none;
}

.mob-btns{

  display: none;

}
.aNav{
position: relative;
}

.aNav::after{

  content: '';
  border-bottom: 3px solid var(--anotherColor);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animationHover 0.3s ease-in-out;
  margin-top: 5px;
  position: absolute;
  background-color: #c91e1e;
  top:1.5em;
  height: 0;  
  width: 100%;
}
.aNav:hover{

  color: var(--anotherColor);
  transition: 0.5s ease-in-out;
}

.searchbar{
 
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(71, 90, 109, 0.5);
  border: 2px solid var(--anotherColor);
  right: 1%;
  width: 30%;
  height: 10%;
  position: fixed;
  z-index: 999;
  display: none;
  overflow: hidden;
}
.searchInp {
  position: relative;
  width: 70%;
  height: 80%;
  padding-inline: 20px;
  margin-right: 5px;
  align-self: center;
  background-color: #cccccc;
  left: 15px;
  top: 5px;
  user-select: none;
  

}

.searchInp:focus{

 outline-color: var(--anotherColor5);
}

.searchBarbtn{

  width: 20%;
  height: 80%;
  background-color: var(--anotherColor5);
  color: var(--tertiary-color);
  border: none;
  border-radius: 5px;
  position: relative;
  left: 15px;
  top: 5px;
  font-size: 0.8rem;
  z-index: 998;
  flex-wrap: nowrap;

}
.searBarani{
  animation: searchbarAni 0.7s ease-in-out;
  display: block;
}

@keyframes searchbarAni {

  0%{
    transform: translateY(-200px);
  }
  50%{
    width: 0;
  }
  100%{
    transform: translateY(0);
  }
  
}


@keyframes animationHover {
  0%{transform: translateX( -50px);}
  100%{transform: translateX(0);}
}



/* section1 */


.main-sec{
  position: relative;
  height: auto;
  width: 100%;
  margin-top: 100px;
  z-index: 5;
  background: linear-gradient(40deg, #183241, #131211);
  overflow: hidden;

}


.content-intro{

  display: flex;


}
.left-content{

  width: 50%;
  padding: 20px;

}

.img-con{
  position: relative;
  width: 28.125em;
  height: 28em;
  background-color: rgba(45, 167, 140, 0.6);
  border-radius: 50%;
  left: 60px;
  top: 45px;
  filter: brightness(0.8);
  


}
.img-con img{
  position: relative;
  width: 28.125em;
  height: 28em;
  border-radius: 80%;
  left: 0;
  box-shadow: 5px px 10px rgba(0, 0, 0, 0.5);
}

.right-content{
  padding: 20px;
  width: 50%;
  z-index: 5;
  overflow: hidden;
}

.text-con{

  margin-top: 9%;
  overflow-x: hidden;
}

.text-con h1{

  color: var(--tertiary-color);
  font-style: var(--fontsize1);
  font-size: 3rem;
  font-weight: 700;

}

.text-con h3{

  color: var(--anotherColor);
  font-size: 2em;
  font-weight: 700;

}
.myname-span{


  color: var(--anotherColor5);

}
.text-con .hi-txt{

  font-size: 1.5em;

}
.text-con p{


  color: rgb(216, 208, 208);
  font-size: 1rem;
}
.btn-con{

  margin-top: 5%;
  z-index: 999;
  padding-block: 10px;
}
.btn-con button:nth-child(1){

  width: 8em;
  height: 3em;
  font-size: 1em;
  cursor: pointer;
  background-color: var(--anotherColor5);
  outline: none;
  border: none;
  color: var(--tertiary-color);
  font-weight: bold;
  margin-left: 10px;
  border-radius: 5px;
  user-select: none;
  z-index: 998;
}
.btn-con button:nth-child(2){

  width: 8em;
  height: 3em;
  font-size: 1em;
  cursor: pointer;
  background-color: var(--main-color);
  outline: none;
  border: none;
  color: var(--tertiary-color);
  font-weight: bold;
  margin-left: 10px;
  border-radius: 5px;
  border: 2px solid var(--anotherColor5);
  user-select: none;
  z-index: 998;

}
.btn-con button:hover{

  opacity: 0.8;
  background-color: #04725c;
  border: 2px solid #00b894;
  transition:  0.5s ease-out; 
}

.social-con{
  margin-top: 5%;
  display: flex;

}


.social-con a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f6fa;
  margin-left: 15px;
  font-size: 20px;
  width: 40px;
  border: 2px solid #00b894;
  border-radius: 50%;
  height: 40px;
  cursor: pointer;
  z-index: 998 ;
  text-decoration: none;
  cursor: pointer;
}
.social-con a:hover,.social-con i:hover{

  animation: var(--btn-Animation);
  opacity: 0.8;
}






/* section two */

.second-sec{
  background: linear-gradient(35deg, #183241, #131211);
  
  background-color: var(--anotherColor4);
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding-top: 85px;
  /* border-top: 1px solid#1a282e; */
}
.second-sec svg{

  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -2;
}

.second-sec h1{

  font-weight: 600;
  text-transform: uppercase;
  color: var(--tertiary-color);
  margin-top: 1em;
  font-size: 3rem;
}
.second-sec h1::after{

content: '';
position: relative;
border-bottom: 4px solid var(--anotherColor);
display: flex;
margin-top: 10px;
justify-content: center;
align-items: center;
align-self: center;
width: 79%;
left: 19px;

}
.box-skill{

  display: flex;
  width: 95%;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  margin-bottom: 25px;
}
.card{

  border: 2px solid var(--anotherColor);
  background-color: rgba(22, 24, 26, 0.5);
  color: var(--tertiary-color);
  width: 26rem;
}
@keyframes colorAni {
  0%{  background-color: #0b89c4;  }
  30%{  background-color: #c479e4; }
  50%{  background-color: #b8002e;  }
  80%{  background-color: #b8b500;  }
  100%{  background-color: #e71a81;  }  
}
.card-top1{

  width: 100%;
  height: 20px;
  background-color: #8e44ad;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  animation: colorAni 1s ease-in-out  infinite;
}
.card-top2{

  width: 100%;
  height: 20px;
  background-color: #b8002e;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  animation: colorAni 1s ease-in-out  infinite;

}
.card-top3{

  width: 100%;
  height: 20px;
  background-color: #b8b500;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  animation: colorAni 1s ease-in-out  infinite;

}
.card-img-top{

  width: 64px;
  height: 64px;
  align-self: center;
  margin-top: 5px;
}
.card-body h5{

  color: var(--anotherColor);
  font-weight: 700  ;
}
.card-body p{

  font-size: 0.9rem;
  font-family: var(--font-styles);
  text-align: justify;
}


.percentage-skill{
  position: relative;
  text-align: center;
  width: 100%;
  padding: 40px;
  margin-top: 25px;
}

.percent-intro{
  width: 100%;
  text-align: left;
  color: var(--anotherColor5);
}
.percent-intro h2{
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.percent-intro p{
  text-transform: capitalize;
  color: rgb(172, 171, 171);
  text-align: justify;
  margin-top: 50px;
  font-size: 1.2rem;

}
.percent-container{

  display: flex;
  gap: 5px;
}
.percent-container2{

  display: flex;
  flex-direction: row-reverse;
  gap: 5px;

}

.percent, .percent2{
  position: relative;

  width: 50%;
  border: 2px solid cadetblue;
  border-radius: 5px;
  margin-top: 50px;
  z-index: 5;
  padding-block: 20px;
} 
.percent2{

  float: right;
  margin-top: 50px;
}
.percent h3, .percent2 h3{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  color: var(--anotherColor);
  margin-bottom: 50px;
}


.btn-info-web{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 40px;
  left: 49.9%;
  top: 40%;
  background-color: rgba(22, 24, 26, 0.5);
  border: 2px solid rgba(87, 51, 51, 0.5);

  cursor: pointer;
  z-index: 1;
  color: whitesmoke;
  user-select: none;
  border-left: none;
  
}
.btn-info-web:hover{
  
  transform: scale(1.1);
  width: 45px;

}

.btn-info-web .fa-less-than{

  display: none;
}
.btn-info-web2{

  display: none;
}



.info-webcon{
  width: 50%;
  background-color: rgba(29, 28, 28, 0.3);
  margin-top: 50px;
  border: 2px solid cadetblue;
  border-radius: 5px;
  animation: btn-infowebAni 0.8s ease-in;
  display: none;
  user-select: none;
  text-align: left;
  padding-block: 30px;
  padding-inline: 55px;
  color: #00b894;
  transition: all 0.3s ease-in-out;
}
.info-webcon2{
  width: 50%;
  background-color: rgba(29, 28, 28, 0.3);
  margin-top: 50px;
  border: 2px solid cadetblue;
  border-radius: 5px;
  animation: btn-infowebAni 0.8s ease-in;
  user-select: none;
  text-align: left;
  padding-block: 30px;
  padding-inline: 55px;
  color: #00b894;
  transition: all 0.3s ease-in-out;
  display: none;

}


.info-webcon p, .info-webcon2 p{
  margin-top: 30px;
  color: whitesmoke;
  text-align: justify;
  font-size: 1.2rem;
}

.btn-info-web4{

  display: none;

}

.btn-info-web3{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 40px;
  left: 45.7%;
  top: 78%;
  background-color: rgba(22, 24, 26, 0.5);
  border: 2px solid rgba(87, 51, 51, 0.5);

  cursor: pointer;
  z-index: 1;
  color: whitesmoke;
  user-select: none;
  border-right: none;
  
  
}
.btn-info-web3:hover{
  
  transform: scale(1.1);
  width: 55px;

}
.btn-info-web3 .fa-greater-than{

  display: none;

}

.info-webconJS{

  animation: btn-infowebAni 0.5s ease-in;
  display: block;
}
.info-webconJS2{

  animation: btn-infowebAni2 0.5s ease-in;
  display: block;

}
@keyframes btn-infowebAni {
  0%,30%, 50% {

      transform: translateX(-500px);
      opacity: 0;

  }
  90%, 100%{
    transform: translateX(0);
    opacity: 1;
  }
  
  
}
@keyframes btn-infowebAni2 {
  0%,30%, 50% {

      transform: translateX(500px);
      opacity: 0;

  }
  90%, 100%{
    transform: translateX(0);
    opacity: 1;
  }
  
  
}





.graphics{
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
}


.h4-con{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}


.img-css{
  width: 50px;
  height: 50px;
  position: relative;
  left: -60px;
} 
.img-html{

  width: 50px;
  height: 50px;
  position: relative;
  left: -50px;
}

.img-js{

  width: 40px ;
  height: 40px ;
  position: relative;
  left: -30px;
}
.img-react{
  width: 50px;
  height: 50px;
  position: relative;
  left: -60px;
} 
.img-bootsrap{

  width: 40px;
  height: 40px;
  position: relative;
  left: -50px;
}

.graphics h4{

  color: var(--tertiary-color);
  font-size: var(--one-rem);
  text-transform: uppercase;
}

.graph-con{
  display: flex;
  width: 50%;
  position: relative;

}
.tool{
  position: absolute;
  color: var(--tertiary-color);
  background-color: green;
  width: 20%;
  border: 2px  solid salmon;
  transform: translateY(-40px);
  border-radius: 5px;
  font-size: 0.8rem;
  z-index: 6;
}
.tool::before{
  position: absolute;
  content: '';
  border: 5px solid green;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  z-index: -10;
  border-bottom-right-radius: 1000px;
}

.tooltip1{
  left: 81%;
  animation: TooltipAni 2.5s ease ;

}
.tooltip2{
  left: 51%;
  animation: TooltipAni 2.5s ease ;

}
.tooltip3{
  left: 11%;
    animation: TooltipAni 2.5s ease ;

}

.tooltip4{
  left: 6%;
    animation: TooltipAni 2.5s ease ;

}
.tooltip5{
  left: 41%;
    animation: TooltipAni 2.5s ease ;

}

.graphics .graph1{
  
  height: 25px;
  width: 90%;
  background-image: repeating-linear-gradient(to right, #e84393, #259784,#aa254d);
  border-right: 2px solid wheat;
  position: absolute;
  top: -15px;
  border: 2px solid rgb(180, 192, 184);
  border-right: 0;
  z-index: 5;
}
.percent-txt1{

  height: 25px;
  background-color: rgb(62, 64, 65);
  width: 100%;
  z-index: 3;
  position: absolute;
  left: 0;
  top: -15px;
  border: 2px solid rgb(180, 192, 184);

}

.graphics .graph2{

  height: 25px;
  width: 60%;
  background-image: repeating-linear-gradient(to right, #e84393, #259784,#aa254d);
  border-right: 2px solid wheat;
  position: absolute;
  z-index: 5;
  top: -15px;
  border: 2px solid rgb(180, 192, 184);
  border-right: 0;

}
.percent-txt2{

  height: 25px;
  background-color: rgb(62, 64, 65);
  width: 100%;
  position: absolute;
  z-index: 3;
  top: -15px;
  border: 2px solid rgb(180, 192, 184);

}

.graphics .graph3{

  height: 25px;
  width: 20%;
  background-image: repeating-linear-gradient(to right, #e84393, #259784,#aa254d);
  border-right: 2px solid wheat;
  position: absolute;
  top: -15px;
  border: 2px solid rgb(180, 192, 184);
  border-right: 0;
  z-index: 5;

}
.percent-txt3{

  height: 25px;
  background-color: rgb(62, 64, 65);
  width: 100%;
  position: absolute;
  z-index: 3;
  top: -15px;
  border: 2px solid rgb(180, 192, 184);

}


.graphics .graph4{
  
  height: 25px;
  width: 15%;
  background-image: repeating-linear-gradient(to right, #e84393, #259784,#aa254d);
  border-right: 2px solid wheat;
  position: absolute;
  top: -15px;
  border: 2px solid rgb(180, 192, 184);
  border-right: 0;
  z-index: 5;
}
.percent-txt4{

  height: 25px;
  background-color: rgb(62, 64, 65);
  width: 100%;
  z-index: 3;
  position: absolute;
  left: 0;
  top: -15px;
  border: 2px solid rgb(180, 192, 184);

}


.graphics .graph5{
  
  height: 25px;
  width: 50%;
  background-image: repeating-linear-gradient(to right, #e84393, #259784,#aa254d);
  border-right: 2px solid wheat;
  position: absolute;
  top: -15px;
  border: 2px solid rgb(180, 192, 184);
  border-right: 0;
  z-index: 5;
}
.percent-txt5{

  height: 25px;
  background-color: rgb(62, 64, 65);
  width: 100%;
  z-index: 3;
  position: absolute;
  left: 0;
  top: -15px;
  border: 2px solid rgb(180, 192, 184);

}

.html-scrolljs{


  animation:  htmlPercent 2.5s ease ;
}


.css-scrolljs{


  animation: cssPercent 2.5s ease ;


}
.js-scrolljs{


  animation: jsPercent 2.5s ease ;


}
.react-scrolljs{


  animation: reactPercent 2.5s ease ;


}
.bootsrap-scrolljs{


  animation: bootsrapPercent 2.5s ease ;


}

@keyframes htmlPercent {

  0%{
    width: 0;
  }
  100%{

    width: 90%

  }
  
}

@keyframes cssPercent {

  0%{
    width: 0;
  }
  100%{

    width: 60%

  }
  
}

@keyframes jsPercent {

  0%{
    width: 0;
  }
  100%{

    width: 20%

  }
  
}
@keyframes reactPercent {

  0%{
    width: 0;
  }
  100%{

    width: 15%

  }
  
}
@keyframes bootsrapPercent{

  0%{
    width: 0;
  }
  100%{

    width: 50%

  }
  
}
@keyframes TooltipAni {
   from{
    transform: scale(0) translateY(-50px);

      left: -20%;
    }
    to{
      transform:scale(1.2) translateY(-50px);

    }
}

/* footer */

.svgfoot {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.svgfoot svg {
  position: relative;
  display: block;
  width: calc(280% + 1.3px);
  height: 81px;
}

.svgfoot .shape-fill {
  fill: #570a0a;
}
footer{
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  padding: 10px;
  background-color:  #570a0a;

}
.links-imp{

  color: var(--anotherColor5);
  width: 100%;
}
.links-imp ul{

  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links-imp ul li a{

  text-decoration:underline ;
  margin-left: 25px;
  margin-right: 25px;
  color: var(--anotherColor);
  font-weight: 700;
}

.copyrights{

  color: var(--tertiary-color);
  font-size: 0.8em;
  font-weight: bolder;
}


.announce-con{

  display: flex;
  align-self:  center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #045b94;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  display: none;
}
.announce-cons{

  display: block;
  animation: modalAnnounceAni 0.5s ease-in-out ;
}

@keyframes modalAnnounceAni {

  to{
    transform: scale(1.1);
    opacity: 0.8;
  }
  from{
    opacity: 0.1;
  }
  
}


.box-announce{
  position: relative;
  background-color: var(--anotherColor4);
  width: 50%;
  height: auto;
  align-self: center;
  border-radius: 5px;
  scroll-behavior: auto;
  padding-block: 20px;
  padding-inline: 20px;
  box-shadow: 0 5px 10px rgba(55, 173, 169, 0.4);
  align-self: center;
  top: 24%;
  left: 24%;

}
.box-announce i{

  position: absolute;
  right: 5%;
  color: var(--anotherColor);
  cursor: pointer;
  font-size: 1.1rem;
}
.img-announce {
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: center;

}
.img-announce img{

  width: 200px;
  height: 200px;

}
.announce-text{
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.announce-text h1{
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--tertiary-color);
  text-transform: uppercase;
  color: var(--anotherColor);
}
.announce-text p{
  margin-top: 5px;
  color: var(--tertiary-color);
  font-size: 0.9rem;
}
.announce-text .developer-contact{

  font-size: 0.8rem;
  text-transform: uppercase;
  color: #c91e1e;
  font-weight: 600;
}





/* Mobile Response */

@media only screen and (max-width:1075px) {

  .second-sec{

    
    height: auto;
  }
  
  .custom-shape-divider-bottom-1705554803 {
    top: 88%;
    z-index: 1;
  }
}




@media only screen and (max-width: 1010px) {
  
  /* main-sec */
  .content-intro{

    flex-direction: column;

  }
  .left-content{

    width: 100%;
    background-color: #c91e1e;
    display: none;
  } 
  
  .right-content{

    width: 100%;

  }
  .text-con{

    margin-top: 5%;
    margin-left: 20%;
  }
 .btn-con{
    margin-left: 20%;
  }
  .custom-shape-divider-bottom-1705554803 {
    
    top: 80%;
  }
}



@media only screen and (max-width: 950px) {
  .second-sec{

    height: auto;
  }
  
  .box-skill{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: none;

    border: none;
    width: 100%;
  }
  .card{

    border: 2px solid var(--anotherColor);
    background-color: rgba(22, 24, 26, 0.5);

    color: var(--tertiary-color);
    width: 100%;
    margin-top: 20px;
  }
  .card-img-top{
  
    width: 64px;
    height: 64px;
    align-self: center;
    margin-top: 5px;
  }
  .card-body h5{
  
    color: var(--anotherColor);
    font-weight: 700  ;
  }
 
  
  
  .custom-shape-divider-bottom-1705554803 {
    
    top: 77%;
  }
  .percent-container{
    display: flex;
    flex-direction: column;

  }
  .percent-container2{
    display: flex;
    flex-direction: column;

  }
  .percent, .percent2{

    width: 100%;

  }
  .percent-intro{
    width: 100%;
  }
  .info-webcon{

    width: 100%;
    padding-block: 15px;
    padding-inline: 15px;
  }
  .info-webcon2{

    width: 100%;
    padding-block: 15px;
    padding-inline: 15px;
  }


  .btn-info-web{

    display: none;
  
  }
  .btn-info-web3{
    display: none;
  }
  .btn-info-web2{

    width: 100%;
    height: 40px;
    background-color: #045b94;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 24, 26, 0.5);
    border: 2px solid rgba(87, 51, 51, 0.5);
  }
  .btn-info-web4{

    width: 100%;
    height: 40px;
    background-color: #045b94;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 24, 26, 0.5);
    border: 2px solid rgba(87, 51, 51, 0.5);
  }

  .btn-info-web2 .readbtn, .btn-info-web2 .closebtn,
  .btn-info-web4 .readbtn2, .btn-info-web4 .closebtn2{

    font-size: 1rem;
    color: whitesmoke;
    margin-top: 5px;

  }

  .closebtn, .closebtn2{

    display: none;

  }
}

@media only screen and (max-width: 819px){

  /* head */
  @keyframes navbarAni {
    0%{

        transform: translateX(-1000px);

    }
    100%{
      transform: translateX(0);

    }
    
  }

  @keyframes navBtnAni {
    to{ 
      transform: rotate(0);
    }
    from{
      transform: rotate(260 deg) scale(1.2);
    }
  }
  nav .search-icon{

    color: #00b894;
    cursor: pointer;
    font-size: 1.8rem;
    display: block;
    right: 15%;
    position: absolute;
    
  }
  
  .nav-hamburger{
    display: block;
  }

  .nav-hamburger>i{

    cursor: pointer;
    position: absolute;
    right: 0.8em;
    font-size: var(--logo-font);
    color: var(--anotherColor);
    top: 32%;
  }
  .navbarIAni{

    animation: navBtnAni 0.5s ease-in-out;


  }
  .nav-hamburger>.fa-bars{

    display: block;

  }
  .nav-hamburger .fa-x{

    display: none;

  }

  
  

  
  .nav-list{

    flex-direction: column;
    background-color: rgb(131, 131, 139);
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 81%;
    gap: 0;
    justify-content: center;
    align-items: center;

  }
  .nav-list-click{

    animation: navbarAni 0.3s ease-in-out;
    display: block;
  }
  .nav-list a{

    color: var(--main-color);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-left: 0;
    
  }

  .nav-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    margin: 5px 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #bbb5ab;
    margin-left: 0;
  }
  .nav-btns{

    display: none;

  }

  .mob-btns{

    display: flex;
    flex-direction: row;
    width: 100%;
    
  } 
  .mob-btns button{
    background-color: #045b94;
    width: 50%;
    height: 30px;
    margin-right: 27px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--tertiary-color);
    border-radius: 5px;
  } 
  

  /* main-con */
 
  .second-sec h1{

   margin-top: 2em;
  }
  .second-sec{

   
    margin-top:0;

  }
  .social-con{

    margin-bottom: 4em;
    margin-top: 3em;
  }
  
  /* modal */

  .box-announce{

    width: 70%;
    top: 22%;
    left: 15%;
  }
  /* searchbar */

  .searchbar{
 
    left: 1%;
    width: 98%;
    height: 7%;
    z-index: 999;
  }

}



@media only screen and (max-width: 560px){
  
.text-con h1{

  font-size: 2.2em;
  text-align: left;

} 

.text-con h3{

  color: var(--anotherColor);
  font-size: 1.7em;
  text-align: left;
}
.myname-span{


  color: var(--anotherColor5);
  text-align: left;

}


.text-con .hi-txt{

  font-size: 1em;
  text-align: left;
}
.text-con p{
  text-align: left;

  font-size: 0.8em;
}
.btn-con{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0;
  justify-content: center;
  align-items: center;

} 
.btn-con button{

  margin-top: 5px;
  width: 10em   ;
}
.social-con{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.text-con{
  text-align: center;
  margin-left: 0;
  margin-top: 3rem;
  
}
.box-announce{
  top: 30%;
  width: 72%;

}
.second-sec{
padding-top: 50px;

}

}

@media only screen and (max-width: 500px){
  
/* footer */

.links-imp ul li{

  width: 100%;
  display: flex ;
  justify-content: center;
  align-items: center ;
}
.links-imp ul li a{

  text-decoration: none;
  font-size: 13px;

}

}


@media only screen and (max-width: 480px){

  nav .search-icon{

  

    right: 20%;
    position: absolute;
    
  }
  .nav-hamburger{

    right: 0.7em;
  
  }

  .second-sec h1{

   margin-top: 15px;
  }
  .second-sec{

    margin-top:0;
  }



  .box-skill{
    padding: 0;
  }

  .percentage-skill{

    padding: 0;
  }
  .percentage-skill{

    padding: 5px;

  }
  .percent{

    padding-block: 20px;

  }

  .img-css{
    width: 45px;
    height: 45px;
    position: relative;
    left: -45px;
  } 
  .img-html{
  
    width: 45px;
    height: 45px;
    position: relative;
    left: -35px;
  }
  .img-js{
  
    width: 35px ;
    height: 35px ;
    position: relative;
    left: -15px;
  }
  .img-react{
  
    width: 35px ;
    height: 35px ;
    position: relative;
    left: -25px;
  }
  .img-bootsrap{
  
    width: 30px ;
    height: 30px ;
    position: relative;
    left: -15px;
  }
  .tool{

    width: 25%;

  }
  .box-announce{

    width: 85%;
    top: 24%;
    left: 8%;
    padding-block: 12px;
    padding-inline: 10px;
  
  }
  .announce-text h1{

    font-size: 1.5rem;

  }
  .announce-text p{

    font-size: 1rem;

  }
}

@media only screen and (max-width: 390px){

 .percent, .percent2{

  padding: 0;
 }
 
}