/* ------Scroll Bar------ */

::-webkit-scrollbar{

  width: 15px;
}
::-webkit-scrollbar-track{
  background-color: rgba(24, 46, 49, 0.8);

}
::-webkit-scrollbar-thumb{
  background-image: linear-gradient(45deg,#00b894,#1a7fc2,#d63031);
}

.third-sec{

  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-block: 30px;
  padding-inline: 50px;
  height: auto;
  overflow: hidden;

}
.third-sec h1{
  position: relative;
  color: whitesmoke;
  font-weight: 600;
  text-transform: uppercase;
}
.third-sec h1::after{
  content: '';
  position: relative;
  border-bottom: 4px solid var(--anotherColor);
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 10.5%;
  left:45%;
}

.h2-con{

  width: 100%;
  text-align: center;
  color: #d63031;
  text-transform: uppercase;
  margin-top: 40px;

}
.h2-con h2{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}
.h2-con p{
  font-size: 0.9rem;
  text-align: justify;
  color: rgb(172, 171, 171);
  text-transform: capitalize;
  margin-top: 50px;
}

.review-con {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-inline:20px ;
  gap: 20px;
}

.card-sayings {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: rgba(16, 16, 17, 0.4);
  padding-inline: 20px;
  padding-block: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  margin-block: 50px;
}



.icon-client{
position: relative;
width: 70px;
height: 70px;
max-width: 100%;
border-radius: 50%;
overflow: hidden;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
margin-bottom: 10px;

}
.icon-client img{
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.card-sayings h6{
  color: rgb(156, 153, 153);
  text-align: left;
  
}
.card-sayings h4{
  text-align: left;
  font-weight: 600;
  color: #00b894;

}
.card-sayings p{
  color: rgb(235, 234, 234);

  margin-top: 30px;
  font-style: italic;
  font-size: 0.9rem;
}

.review-btn{

  display: flex;
  max-width: 100%;
  min-height: auto;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.review-btn .rbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 184, 148, 0.8);
  border: 2px solid rgb(74, 74, 75);
  cursor: pointer;
  border-radius: 5px;
}

.rbtn:hover{

  opacity: 0.5;
  transition: all 0.3s ease-in;
}
.rbtn i{
  
  color: rgb(207, 204, 204);
}



/* project modal page */

.project-cons{

  display: flex;
  align-self:  center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: none;
}
.box-project{
  align-self: center;
  max-width: 100%;
  width: 90%;
  height: 90%;
  background-color: var(--anotherColor4);
  box-shadow: 0 5px 10px rgba(55, 173, 169, 0.4);

  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  padding-block: 30px;
  padding-inline: 30px;
  position: relative;
  align-self: center;
  left: 3%;
  top: 5%;

}
.boxprojectmodal{

  display: block;
  animation: modalAnnounceAni 0.5s ease-in-out ;

}
.box-project h1{

  color: whitesmoke;
  text-transform: uppercase;
}
.box-project h1::after{

    content: '';
  position: relative;
  border-bottom: 4px solid var(--anotherColor);
  display: flex;
  margin-top: 10px;
  left: 46%;
  width: 8%;

}
.box-project .fa-x{

  position: absolute;
  right: 3%;
  color: var(--anotherColor);
  cursor: pointer;
  font-size: 1.1rem;
  top: 20px;
}
.img-proj-con{

  width: 99%;
  min-height: auto;
  align-self: center;
  row-gap: 100px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-top: 10px;

}
.proj-row{

  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding:20px;

}
.proj-img-con{

  position: relative;
  width: 350px;
  height: 200px;
  max-width: 100%;
  min-height: 100%;
  margin-bottom: 20px;
  cursor: pointer;

}
.proj-row img{

  width: 100%;
  height: 100%;
  object-fit: cover;

}
.proj-txt{

  width: 350px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
  padding-inline: 20px;
  padding-block: 10px;
}

.proj-txt p{

  color: whitesmoke;
  font-size: 0.7rem;
}
.proj-txt h3{

  font-size: 1.2rem;
  color: #00b894;
  font-weight: 600;
}
.proj-txt button{

  display: none;
  border: none;
  width: 50%;  
  background-color:#d63031; 
  color: whitesmoke; 
  margin-top: 30px;
  outline: none;
  height: 35px;
  font-size: 0.9rem;
  border-radius: 5px;
  

}
.cover-img{
  width: 350px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  position: absolute;
  object-fit: cover;
  display: none;
  top: 0;
}
.btns-proj{

  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.btns-proj button{
  width: 70px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);

  border: 4px solid #d63031;
}
.btns-proj button i{
color: whitesmoke;

}

.coverBtnani{

  animation: coverimgani 0.5s ease-in-out;
  display: block;
}

@keyframes coverimgani {
  0%{
    transform: scale(-1.1);
    opacity: 0;
  }

  80%{
    opacity: 0.5;
  }
  100%{
    transform:scale(1);
    opacity: 1;
  } 
}



/* mobile responsiveness */
@media only screen and (max-width: 1280px){
  .box-project{
    align-self: center;
    max-width: 100%;
    width: 95%;
    height: 90%;
    background-color: var(--anotherColor4);
    overflow: hidden;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    overflow: auto;
    padding-block: 30px;
    padding-inline: 10px;
  
  }
  .proj-row{

    max-width: 100%;
    height: auto;
    gap: 20px;
    padding:0;
    flex-direction: column;
  }
  .img-proj-con{

    width: 99%;
    align-self: center;
    row-gap: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-height: 0;
  }

  .proj-img-con{

    position: relative;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-height: 0;
    margin-bottom: 20px;
    cursor: pointer;
  
  }
  .proj-txt{
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-inline: 20px;
    padding-block: 10px;
  }
  .proj-row img{

    width: 100%;
    max-width: 100%;
    height: auto;
  
  }
  

  .btns-proj button{
    width: 70px;
    height: 40px;
  }
  .cover-img{

    width: 100%;
    height: 20%;
    background-color: rgba(230, 178, 178, 0.5);
    position: absolute;
    object-fit: cover;
    bottom: 0;
  }
  .proj-txt button{

    display: block;
  
  }
}

@media only screen and (max-width: 1140px){
  .review-con {
    display: flex;
    margin-top: 20px;
    padding-inline:0;
    gap: 0;
    flex-direction: column;
  }
  
  .card-sayings {
    
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  

}

@media only screen and (max-width: 480px){
  .third-sec{

    padding-block: 30px;
    padding-inline: 25px;
    height: auto;
    overflow: hidden;
  
  }
  .review-con {
    display: flex;
    margin-top: 20px;
    padding-inline:0;
    gap: 0;
    flex-direction: column;
  }
  
  .card-sayings {
    
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  
}